@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>


<div class="hero">
    <div class="content">
        <p> КОНТАКТЫ ТУТ </p>
    </div>
</div>